doctype html
html(lang = "ru")
	head
		title= "Sedona"
		meta(charset = "utf-8")
		link(href="styles/css.css" rel="stylesheet")
		link(href="styles/reset.css" rel="stylesheet")
		link(href="http://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css") 	
	body.body
	.container
		header.header
			a.logo(href="")
			nav.navigation.clear
				ul
					li
						a(href='') ИНФОРМАЦИЯ
					li
						a(href='') ФОТО И ВИДЕО
					li
						a(href='') КАРТА ШТАТА
					li
						a(href='hotels.html') ГОСТИНИЦЫ
		main.main-page
			.poster
				.tagline
			.intro
				h1 
					| СЕДОНА — НЕБОЛЬШОЙ ГОРОДОК В АРИЗОНЕ, 
					br
					| ЗАСЛУЖИВАЮЩИЙ БОЛЬШЕГО!
				p РАССМОТРИМ 5 ПРИЧИН, ПО КОТОРЫМ СЕДОНА КРУЧЕ ЧЕМ ГРАНД КАНЬОН!
			.features.row.bckg-blue
				.feature-description.col.col-4
					h1 
						| НАСТОЯЩИЙ
						br
						| ГОРОДОК
					span — №1 —
					p 
						| СЕДОНА НЕ АТРАКЦИОН ДЛЯ ТУРИСТОВ, 
						br
						| ТАМ ТЕЧЕТ СВОЯ ЖИЗНЬ
				.feature-poster.col.col-8
					img(src="img/tmp/photo-02.jpg", alt="feature-poster")
			.advices.row
				.advice-description.col.col-4
					h1 ЖИЛЬЕ
					p РЕКОМЕНДУЕМ ПОЖИТЬ В НАСТОЯЩЕМ МОТЕЛЕ, ВСЕ КАК В КИНО!
				.advice-description.col.col-4
					h1 ЕДА
					p ВСЕГДА ЗАКАЗЫВАЙТЕ ФИРМЕННЫЙ БУРГЕР, ВЫ НЕ РАЗОЧАРУЕТЕСЬ!
				.advice-description.col.col-4
					h1 СУВЕНИРЫ
					p НЕ ТОЛЬКО КИТАЙСКОГО, НО И МЕСТНОГО ПРОИЗВОДСТВА!
			.features.row.bckg-blue
				.feature-poster.col.col-8
					img(src="img/tmp/photo-03.jpg", alt="feature-poster")
				.feature-description.col.col-4
					h1 
						| ТАМ ЕСТЬ
						br
						| МОСТ ДЬЯВОЛА
					span — №2 —
					p 
						| ДА, ПО НЕМУ МОЖНО ПРОЙТИ! 
						br
						| ЕСЛИ КОНЕЧНО ВЫ ОСМЕЛИТЕСЬ
			.features.row.bckg-gray
				.feature-description.col.col-4
					h1 
						| НЕБОЛЬШАЯ
						br
						| ПЛОЩАДЬ
					span — №3 —
					p 
						| ВСЕ ДОСТОПРИМЕЧА-
						br
						| ТЕЛЬНОСТИ НАХОДЯТСЯ ОЧЕНЬ БЛИЗКО
				.feature-description.col.col-4
					h1 
						| КРАСИВАЯ
						br
						| ДОРОГА
					span — №4 —
					p 
						| ЕХАТЬ В СЕДОНУ ИЗ ЛАС-ВЕГАСА СОВСЕМ 
						br
						| НЕ СКУЧНО!
				.feature-description.col.col-4
					h1 
						| МАЛО
						br
						| ТУРИСТОВ
					span — №5 —
					p 
						| БОЛЬШИНСТВО ЕДЕТ В ГРАНД КАНЬОН 
						br
						| И ТОЛПИТСЯ ТАМ
			.choose-hotel
				h1 ЗАИНТЕРЕСОВАЛИСЬ?
				p 
					| УКАЖИТЕ ПРЕДПОЛАГАЕМЫЕ ДАТЫ ПОЕЗДКИ
					br
					| И МЫ ПОКАЖЕМ ВАМ ЛУЧШИЕ ПРЕДЛОЖЕНИЯ ГОСТИНИЦ В СЕДОНЕ
				a(href="" class="btn btn-order") Поиск гостиницы в Седоне
				.choose-hotel-popup
					form(action="/search" class="form" method="post")
						fieldset
							
						fieldset
						fieldset
						input(type="submit" value="НАЙТИ" class="btn")
			.map
				iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d838162.8369633064!2d-111.79513845!3d34.854378399999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872da132f942b00d%3A0x5548c523fa6c8efd!2sSedona%2C+AZ%2C+USA!5e0!3m2!1sen!2sru!4v1435000602855" width="1200" height="600" allowfullscreen="")
		footer.footer.row
			.hashtag.col.col-4
				a(href="") #visitsedona
			.social-icons.col.col-4
				a(href="" class="btn btn-social icon-twitter")
				a(href="" class="btn btn-social icon-facebook")
				a(href="" class="btn btn-social icon-youtube")
			.copyright.col.col-4
				a(href="https://htmlacademy.ru/") website by
					.logo-htmlacademy
	script(src="js/main.min.js")
